<app-head-nav-bar>
</app-head-nav-bar>
<button (click)="goBack()" color="primary" mat-button>❮ Go Back</button>
<body>
<div class="artist-container">
  <img [src]="artist?.image" alt="no image">
  <h1>{{ artist?.name }}'s Songs</h1>
</div>
  @if (artist && artistSongs.length > 0) {
    @if (user && user.artist && user.artist.id === artistId) {
      <button mat-raised-button color="primary" routerLink="/home/addSong">Upload your own Song</button>
    }
    <div class="posts-container">
      @for (song of artistSongs; track $index) {
        <div class="post-card">
          @if (song.image) {
            <img [src]="song.image" alt="{{song.title}}" class="post-image">
          }
          <div class="post-content">
            <h3 mat-line (click)="openLink(song?.link)">{{ song.title }}
              <span>By {{ artist.name }}</span>
            </h3>
            <div class="post-meta">
            </div>
            <p>{{ song.genre.name }}
              {{ song.genre.description }}
            </p>
            @if (user && user.artist && user.artist.id === artistId && song.id) {
              <span class="actions-container">
              <button mat-icon-button (click)="openLink(song?.link)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSong(song.id)">
                <mat-icon>delete</mat-icon>
              </button>
              </span>
            }
          </div>
        </div>
      }
    </div>
  } @else if (user && (!user.artist || user.artist.id !== artistId) && artist) {
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Quiet here</mat-card-title>
          <p>This Artist hasn't uploaded yet.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  } @else if (user && user.artist && user.artist.id === artistId) {
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Upload your music</mat-card-title>
          <p>Upload your music to get discovered by fans.
          </p>
          <button mat-raised-button color="primary" routerLink="/home/addSong">Upload your first Song</button>
        </mat-card-content>
      </mat-card>
    </div>
  } @else if (user && !user.artist && !artistId) {
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Artist Registration</mat-card-title>
          <p>Register as an artist to upload your music
            <br> and get discovered by fans.</p>
          <button mat-raised-button color="primary" routerLink="/home/addArtist">Register as Artist</button>
        </mat-card-content>
      </mat-card>
    </div>
  }
</body>
