@import "../../_variables";

.button2 {
  --color: #ffffff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  background-image: linear-gradient(190deg, $second-color 0, $first-color 99%);
}

.button2::before {
  position: absolute;
  content: "";
  background: $second-color;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.button2:hover {
  color: white;
}

.button2:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.button2:hover::before {
  top: -30px;
  left: -30px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  .toolbarLeftSide {
    width: 33vw;
    display: flex;
    justify-content: start;
    align-items: center
  }

  .toolbarMiddle {
    width: 20rvw;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .toolbarMiddle :hover {
    cursor: pointer;
  }

  .toolbarRightSide {
    width: 33vw;
    display: flex;
    justify-content: end;
    align-items: center;

    .catPic {
      width: 50px;
      min-width: 50px;
      height: 50px;
      min-height: 50px;
      border-radius: 50%;
    }

    .catPic:hover {
      cursor: pointer;
    }
  }
}


.menu-button {
  display: flex !important;
  flex-direction: row !important;
  text-align: left;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .notification-image {
      width: 50px;
      height: 45px;
    }

    .menu-text {
      color: black !important;
      margin-left: 10px;
      text-overflow: clip;
      width: calc(100% - 50px);
      height: 50px;
    }
  }

}

.notification-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    width: 100%;
    margin: 5px 5px 5px 5px;
    display: flex;
    height: 100%;
    text-align: left;

    p {
      color: #007BFF;
      margin-bottom: 30px;
    }
  }

  div:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}


#headBar {
  background-image: linear-gradient(190deg, $second-color 0, $first-color 99%);
}

mat-toolbar.toolbar {
  background: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.spacer {
  flex: 1 1 auto;
}

.small.animated-open {
  animation: coolAnimation 1s ease-in-out;

}

@keyframes coolAnimation {
  0% {
    width: 0;
  }
  100% {
    width: calc(100vw - 400px);
    min-width: 100px;
  }
}

.small.animated-close {
  animation: coolAnimation 1s reverse;
}

.search-container {
  display: flex;
  align-items: center;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

mat-form-field {
  width: calc(100vw - 400px);
  min-width: 100px;
  font-size: 12px; // example
  margin-top: 20px;
  --mdc-outlined-text-field-outline-color: white;
  --mdc-outlined-text-field-hover-outline-color: white;
  --mdc-outlined-text-field-focus-hover-outline-color: white;
  --mdc-outlined-text-field-focus-outline-color: white;
  --mdc-outlined-text-field-error-outline-color: white;
  --mdc-outlined-text-field-error-hover-outline-color: white;
  --mdc-outlined-text-field-error-focus-outline-color: white;

}

mat-form-field.mat-form-field {
  background: #ffffff;
}

input.mat-input-element {
  color: #000000;
}

button.mat-icon-button {
  color: #000000;
}

mat-form-field.small {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}

#background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#box {
  background-image: linear-gradient(190deg, var(--second-color) 0, var(--first-color) 99%);
  min-width: 300px;
  min-height: 100px;
  z-index: 10000;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
