<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <div class="toolbarLeftSide">
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="leaderBoard" mat-menu-item>Leaderboard</button>
        <button [matMenuTriggerFor]="languageMenu" mat-menu-item>Languages</button>
        <mat-menu #languageMenu="matMenu" xPosition="before">
          @for (lang of langs; track $index) {
            <p mat-menu-item (click)="service.setLanguage(lang)">{{ lang | language }}
            </p>
          }
        </mat-menu>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
    <div class="toolbarMiddle">
      <span>Sound Score</span>
      <span class="fill-remaining-space"></span>
    </div>
    <div class="toolbarRightSide">
      <img [ngSrc]="this.picture" class="catPic" alt="No cats :(">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
