.toolbar {
  display: flex;
  justify-content: space-between;

  .toolbarLeftSide {
    width: 33vw;
    display: flex;
    justify-content: start;
    align-items: center
  }

  .toolbarMiddle {
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .toolbarMiddle :hover {
    cursor: pointer;
  }

  .toolbarRightSide {
    width: 33vw;
    display: flex;
    justify-content: end;
    align-items: center;
    .catPic{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .catPic:hover {
      cursor: pointer;
    }
  }
}
#headBar {
  background-image: linear-gradient(190deg, #4e00ad 0, #c23fe3 99%);
}
