<app-head-nav-bar></app-head-nav-bar>
<div id="main">
  <div id="top">
    <mat-tab-group id="slide" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Artist">
        @if (visiblePosts.length == 0) {
          <div class="no-posts">
            <h1 class="no-posts-text">No Posts Found</h1>
          </div>
        }
        <div [ngClass]="{'middle': invisiblePosts.length > 0, 'middle2': invisiblePosts.length == 0}">
          <div class="all">
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="leftSlide()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div [ngClass]="{'content': invisiblePosts.length > 0, 'content2': invisiblePosts.length == 0}">
              <div class="posts-container">
                @for (post of visiblePosts; track $index){
                  <div class="post-card" [routerLink]="['/home/post/',post.id]">
                    @if (post.image){
                      <img [src]="post.image" alt="{{post.title}}" class="post-image">
                    }@else {
                      <img src="https://i.kym-cdn.com/entries/icons/original/000/039/761/nerdfacecover.jpg" alt="Placeholder Image" class="post-image">
                    }
                    <div class="post-content">
                      <h2>{{ post.title }}</h2>
                      <p>{{ post.content }}</p>
                      <div class="post-meta">
                        <span>By {{ post.user.username }}</span>
                        <span>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</span>
                      </div>
                      @if (post.genre || post.artist || post.song){
                        <div class="post-tags">
                          @if (post.genre) {<span>Genre: {{ post.genre.name }}</span>}
                          @if (post.artist) {<span>Artist: {{ post.artist.name }}</span>}
                          @if (post.song) {<span>Song: {{ post.song.title }}</span>}
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="rightSlide()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="button">
          <button class="Btn" [routerLink]="['addPost']">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Genre">
        @if (visiblePosts.length == 0) {
          <div class="no-posts">
            <h1 class="no-posts-text">No Posts Found</h1>
          </div>
        }
        <div [ngClass]="{'middle': invisiblePosts.length > 0, 'middle2': invisiblePosts.length == 0}">
          <div class="all">
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="leftSlide()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div [ngClass]="{'content': invisiblePosts.length > 0, 'content2': invisiblePosts.length == 0}">
              <div class="posts-container">
                @for (post of visiblePosts; track $index){
                  <div class="post-card" [routerLink]="['/home/post/',post.id]">
                    @if (post.image){
                      <img [src]="post.image" alt="{{post.title}}" class="post-image">
                    }@else {
                      <img src="https://i.kym-cdn.com/entries/icons/original/000/039/761/nerdfacecover.jpg" alt="Placeholder Image" class="post-image">
                    }
                    <div class="post-content">
                      <h2>{{ post.title }}</h2>
                      <p>{{ post.content }}</p>
                      <div class="post-meta">
                        <span>By {{ post.user.username }}</span>
                        <span>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</span>
                      </div>
                      @if (post.genre || post.artist || post.song){
                        <div class="post-tags">
                          @if (post.genre) {<span>Genre: {{ post.genre.name }}</span>}
                          @if (post.artist) {<span>Artist: {{ post.artist.name }}</span>}
                          @if (post.song) {<span>Song: {{ post.song.title }}</span>}
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="rightSlide()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="button">
          <button class="Btn" [routerLink]="['addPost']">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Song">
        @if (visiblePosts.length == 0) {
          <div class="no-posts">
            <h1 class="no-posts-text">No Posts Found</h1>
          </div>
        }
        <div [ngClass]="{'middle': invisiblePosts.length > 0, 'middle2': invisiblePosts.length == 0}">
          <div class="all">
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="leftSlide()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div [ngClass]="{'content': invisiblePosts.length > 0, 'content2': invisiblePosts.length == 0}">
            <div class="posts-container">
                @for (post of visiblePosts; track $index){
                  <div class="post-card" [routerLink]="['/home/post/',post.id]">
                    @if (post.image){
                      <img [src]="post.image" alt="{{post.title}}" class="post-image">
                    }@else {
                      <img src="https://i.kym-cdn.com/entries/icons/original/000/039/761/nerdfacecover.jpg" alt="Placeholder Image" class="post-image">
                    }
                    <div class="post-content">
                      <h2>{{ post.title }}</h2>
                      <p>{{ post.content }}</p>
                      <div class="post-meta">
                        <span>By {{ post.user.username }}</span>
                        <span>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</span>
                      </div>
                      @if (post.genre || post.artist || post.song){
                        <div class="post-tags">
                          @if (post.genre) {<span>Genre: {{ post.genre.name }}</span>}
                          @if (post.artist) {<span>Artist: {{ post.artist.name }}</span>}
                          @if (post.song) {<span>Song: {{ post.song.title }}</span>}
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
            <button mat-fab color="primary" [ngClass]="{'invisibleButton': invisiblePosts.length == 0}" (click)="rightSlide()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="button">
          <button class="Btn" [routerLink]="['addPost']">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="bottom">
  </div>
</div>
