@if (!this.isMobile) {
  <app-head-nav-bar></app-head-nav-bar>
  <body>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="search()">
  </mat-form-field>
  <div id="checkboxes">
    <mat-checkbox>Artists</mat-checkbox>
    <mat-checkbox>Users</mat-checkbox>
    <mat-checkbox>Post</mat-checkbox>
    <mat-checkbox>Song</mat-checkbox>
  </div>
  <main>
    @if (combinedList && combinedList.length > 0) {
      <div>
        @for (combinedItem of combinedList; track combinedItem) {
          @if (selectedFilters !== 'all') {
            <p>filters selected</p>
          } @else if (selectedFilters == 'all') {
            @if (this.isPost(combinedItem)) {
              <mat-card [routerLink]="">
              <mat-card-content>
                  <mat-card-header>
                    <mat-card-title>{{ combinedItem.title }}</mat-card-title>
                  </mat-card-header>
                  <img [src]="combinedItem.image">
                  <span>{{ 'HOME.POSTED_BY' | translate }}  {{ combinedItem.user.username }}</span>
                  <p>{{ combinedItem.content }}</p>
                  @if (combinedItem.genre || combinedItem.artist || combinedItem.song) {
                    <div class="post-tags">
                      @if (combinedItem.genre) {
                        <span>{{ 'HOME.GENRE' | translate }}: {{ combinedItem.genre.name }}</span>
                      }
                      @if (combinedItem.artist) {
                        <span>{{ 'HOME.ARTIST' | translate }}: {{ combinedItem.artist.name }}</span>
                      }
                      @if (combinedItem.song) {
                        <span>{{ 'HOME.SONG' | translate }}: {{ combinedItem.song.title }}</span>
                      }
                    </div>
                  }
                </mat-card-content>
                </mat-card>
              } @else if (this.isArtist(combinedItem)) {
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ combinedItem.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img [src]="combinedItem.image">
                  <p>{{ combinedItem.description }}</p>
                </mat-card-content>
              </mat-card>
              } @else if (this.isSong(combinedItem)) {
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{combinedItem.title}}</mat-card-title>
                </mat-card-header>
              <mat-card-content (click)="openLink($event, combinedItem.link)">
                  <img [src]="combinedItem.image">
                  <span>{{ 'HOME.POSTED_BY' | translate }}  {{ combinedItem.artist.name }}</span>
                  <p>{{ combinedItem.genre.name }}</p>
                </mat-card-content>
                </mat-card>
                } @else if (this.isUser(combinedItem)) {
              <!-- todo: user routerlink -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ combinedItem.username }}</mat-card-title>
                </mat-card-header>
              <mat-card-content>
                  <p>{{ combinedItem.email }}</p>
                </mat-card-content>
                </mat-card>
                }
          }
        }
      </div>
    } @else {
      <div>
        <p>No posts found</p>
      </div>
    }
  </main>
  </body>
}

