@import "../../_variables";

/* Base styles */
app-head-nav-bar {
  position: relative;
}

body {
  display: flex;
  width: 100vw;
  height: calc(100vh - 64px);
  flex-direction: column;
  align-items: center;
  position: fixed;

  mat-form-field {
    width: 100%;
  }

  #checkboxes {
    width: 100%;
  }
}

main {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

main {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

mat-card:hover {
  cursor: pointer;
}

mat-card {
  margin: 10px;
}

mat-card-header {
  justify-content: center;
  flex-direction: column;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

mat-card-content img {
  margin: 10%;
  width: 50%;
  height: auto;
  max-height: 50%;
  align-self: center;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  width: 23%;
}

mat-sidenav-content mat-chip-listbox {
  display: flex !important;
  flex-direction: column !important;
}

.top-list mat-list-item:hover {
  background-image: linear-gradient(190deg, $second-color 0, $first-color 99%) !important;
  cursor: pointer !important;
}

#right-nav mat-list mat-list-item:hover {
  background: whitesmoke;
  cursor: pointer;
}

#right-nav mat-list mat-list-item p{
  color: $text-color !important;
}

#create-post-expansion-panel {
  background-image: linear-gradient(190deg, $second-color 0, $first-color 99%);
  color: $text-color !important;
}

p {
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 20px;
}


/* Styles for tablets (width between 600px and 1024px) */
@media (max-width: 1024px) and (min-width: 600px) {
  body {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
  }

  main {
    width: 90%;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 16px;
  }

  mat-sidenav-container {
    width: 90%;
  }

  mat-card-content img {
    width: 100%;
    max-width: 100%;
    max-height: 60%;
  }

  mat-sidenav-content mat-chip-listbox {
    flex-direction: row !important;
    overflow-x: auto;
  }
}

/* Styles for phones (width less than 600px) */
@media (max-width: 599px) and (max-height: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 5rem);
    justify-content: flex-start;
    overflow-y: auto;
  }

  .posts-container {
    width: 100%;
  }

  mat-card:hover {
    cursor: pointer;
  }

  mat-card {
    margin: 20px auto;
    width: 90%;
  }

  mat-card-header {
    justify-content: center;
    flex-direction: column;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  mat-card-content img {
    margin-block: 10%;
    height: auto;
    max-height: 30%;
    width: 500px;
    max-width: 80%;
  }

  #bottomBar {
    z-index: 1000;
    display: flex;
    width: 100vw;
    height: 5rem;
    background-image: linear-gradient(190deg, $second-color 0, $first-color 99%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;

    .selectButtons {

    }

    button {
      width: 4rem;
      height: 4rem;
      background-color: white;
      border-radius: 100%;


      // border: 1px solid #000000;
    }

    .matTree {
      width: 300px !important;
      max-height: 500px !important;
      overflow: auto !important;
    }

    mat-icon {
      color: $first-color;
    }
  }

}
