<div>
  <button [disabled]="likeProcessing " mat-button (click)="likePost(post)"
          color="{{ this.postLiked(post) ? 'primary' : '' }}">
    <mat-icon>{{ this.postLiked(post) ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
    <p>{{ post.likes.length }}</p>
  </button>
  <button [disabled]="likeProcessing" class="dislike-button" mat-button (click)="dislikePost(post)"
          color="{{ this.postDisliked(post) ? 'warn' : '' }}">
    <mat-icon>{{ this.postDisliked(post) ? 'thumb_down' : 'thumb_down_off_alt' }}</mat-icon>
    <p>{{ post.dislikes.length }}</p>
  </button>
</div>
