<div class="card-container">
  <mat-card style="width: 50vw">
    <mat-card-header>
      <mat-card-title>{{ isRegister ? 'Register' : 'Login' }}</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="isRegister ? register() : login()" [formGroup]="registerForm">
      <mat-card-content>
        @if (isRegister) {
          <mat-form-field>
            <mat-label>Enter your Username</mat-label>
            <input formControlName="username" matInput>
          </mat-form-field>
        }
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
          <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                  matSuffix>
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        @if (isRegister) {
          <mat-form-field>
            <mat-label>Repeat your password</mat-label>
            <input formControlName="repeatPassword" [type]="hide ? 'password' : 'text'" matInput>
            <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    mat-icon-button
                    matSuffix>
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        }
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button
                type="submit">{{ isRegister ? 'Register' : 'Login' }}
        </button>
        <p (click)="changeForm()">{{ isRegister ? 'Bereits ein Konto?' : 'Noch kein Konto?' }}</p>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
