button {
  --color: #4e00ad;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  background-image: linear-gradient(190deg, #6627b4 0, #c23fe3 99%);
}

button::before {
  position: absolute;
  content: "";
  background: #6627b4;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

.alert-box {
  background-image: linear-gradient(190deg, #4e00ad 0, #c23fe3 99%);
  min-width: 300px;
  min-height: 100px;
  z-index: 10000;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.alert-message {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.alert-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
