<app-head-nav-bar></app-head-nav-bar>
<mat-tab-group>
  <mat-tab label="User settings">
    <div class="settings-container mat-elevation-z8">
      <h2>User Settings</h2>
      <form [formGroup]="userForm" (ngSubmit)="onUserSettingsSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput id="email" type="email" formControlName="email">
          <mat-hint>Your email address</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>old Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="oldPassword" formControlName="oldPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Enter to verify your identity</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>new Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Choose a strong password</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>retype Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Choose a strong password</mat-hint>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Artist settings">
    <div class="settings-container mat-elevation-z8">
      <h2>Artist Settings</h2>
      <form [formGroup]="userForm" (ngSubmit)="onUserSettingsSubmit()">


        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Delete yourself">
    <div id="selfDestructionButton">
      <button class="button2" (click)="deleteUser()">
        <div class="lid">
          <span class="side top"></span>
          <span class="side front"></span>
          <span class="side back"> </span>
          <span class="side left"></span>
          <span class="side right"></span>
        </div>
        <div class="panels">
          <div class="panel-1">
            <div class="panel-2">
              <div class="btn-trigger">
                <span class="btn-trigger-1"></span>
                <span class="btn-trigger-2"></span>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
