<div>
  <div class="comment-section">
    @if (comment.parent) {
      <mat-icon [ngStyle]="{'margin-left': ((level-1) * 20) + 'px'}">subdirectory_arrow_right</mat-icon>
    }
    <div [ngStyle]="{'width': 'calc(100% - ' + (level * 20) + 'px)'}" class="comment mat-elevation-z8">
      <div class="comment-content">
        <h2>{{ comment.user.username }}</h2>
        <p [innerHTML]="comment.message"></p>
<!--        <p>{{comment.message}}</p>-->
<!--        <p>{{comment.message}} <a href="" [routerLink]="['/home/userProfile', comment.user.id, '0']" class="username-link">Go to User Profile</a></p>-->
      </div>
      <div class="comment-actions">
        <div class="comment-owner-actions">
          @if (comment.user.id === activeUser.id && comment.id) {
            <mat-icon
              (click)="setEditComment(comment)"
              class="comment-icon">edit
            </mat-icon>
            <mat-icon (click)="deleteComment(comment); baseId = comment.id" class="comment-icon">delete</mat-icon>
          }
        </div>
        <mat-icon (click)="setReplyComment(comment)" class="comment-icon">reply</mat-icon>
      </div>
    </div>
  </div>
  @for (reply of comment.children; track $index) {
    <app-comment [activeUser]="activeUser" [comment]="reply" [level]="level + 1"></app-comment>
  }
  <p>timo isch ass suech im github nache ja es längt du itz di scheisse pushe würk *nodding head horizontally* *big sigh* *side eye* *small laughter* </p>
</div>
