<!--<app-head-nav-bar>-->
<!--</app-head-nav-bar>-->
<!--<body>-->
<!--  @if (user && user.artist) {-->
<!--    <div class="posts-container">-->
<!--      @for (song of artistSongs; track $index) {-->
<!--        <div class="post-card">-->
<!--          @if (song.image) {-->
<!--            <h4 mat-line (click)="openLink(song?.link)">{{ $index + 1 }}. {{ song?.title }}</h4>-->
<!--              } @else {-->
<!--            <img src="https://i.kym-cdn.com/entries/icons/original/000/039/761/nerdfacecover.jpg"-->
<!--                 alt="Placeholder Image"-->
<!--                 class="post-image">-->
<!--          }-->
<!--          <div class="post-content">-->
<!--            <h2>{{ post.title }}</h2>-->
<!--            <p>{{ post.content }}</p>-->
<!--            <div class="post-meta">-->
<!--              <span>By {{ post.user.username }}</span>-->
<!--              <span>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</span>-->
<!--            </div>-->
<!--            @if ((post.genre || post.artist || post.song) && post.id) {-->
<!--              <div class="post-meta">-->
<!--                @if (post.genre) {-->
<!--                  <span>Genre: {{ post.genre.name }}</span>-->
<!--                }-->
<!--                @if (post.artist) {-->
<!--                  <span>Artist: {{ post.artist.name }}</span>-->
<!--                }-->
<!--                @if (post.song) {-->
<!--                  <span>Song: {{ post.song.title }}</span>-->
<!--                }-->
<!--                <span class="actions-container">-->
<!--              <mat-icon (click)="deletePost(post)">delete</mat-icon>-->
<!--              <mat-icon [routerLink]="['/home/addPost']" [queryParams]="{post: JSON.stringify(post)}">edit</mat-icon>-->
<!--            </span>-->
<!--              </div>-->
<!--            }-->
<!--          </div>-->
<!--        </div>-->
<!--      }-->
<!--    </div>-->
<!--  } @else if (user) {-->
<!--    <mat-card>-->
<!--      <mat-card-title>Artist Registration</mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <p>Register as an artist to upload your music and get discovered by fans.</p>-->
<!--        <button mat-raised-button color="primary" routerLink="/artist-registration">Register as Artist</button>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  }-->
<!--</body>-->
