<app-head-nav-bar></app-head-nav-bar>
<div class="settings-container">
  <mat-card-header>
    Create your own Post
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="createPost()" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Content</mat-label>
        <input formControlName="content" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image Type</mat-label>
        <mat-select [(ngModel)]="imageType" [ngModelOptions]="{standalone: true}" name="imageType" value="Image">
          <mat-option [value]="'Image'">Image</mat-option>
          <mat-option [value]="'Gif'">Gif</mat-option>
        </mat-select>
      </mat-form-field>
      @if (imageType === 'Gif') {
        <mat-form-field>
          <mat-label>Search for Gifs</mat-label>
          <input (input)="searchGif()" [(ngModel)]="gifSearchString" [ngModelOptions]="{standalone: true}"
                 name="gifSearchString" matInput>
        </mat-form-field>
        @if (gifSearchString) {
          <img class="gif-preview"  [src]="gifs[0].media_formats.gif.url" mat-card-image>
        }
      } @else {
        <mat-form-field>
          <mat-label>Image Url</mat-label>
          <input formControlName="imageUrl" matInput>
        </mat-form-field>
        <img #uploadedImage [src]="formGroup.controls.imageUrl.value" mat-card-image>
      }
      <mat-form-field>
        <mat-label>Post Type</mat-label>
        <mat-select [(ngModel)]="showedType" [ngModelOptions]="{standalone: true}" name="showedType">
          <mat-option [value]="'Song'">Song</mat-option>
          <mat-option [value]="'Genre'">Genre</mat-option>
          <mat-option [value]="'Artist'">Artist</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ showedType }}</mat-label>
        <mat-select formControlName="songOrGenreOrArtist">
          @switch (showedType) {
            @case ('Song') {
              @for (song of allSongs; track $index) {
                <mat-option [value]="song">{{ song.title }}</mat-option>
              }
            }
            @case ('Genre') {
              @for (genre of allGenres; track $index) {
                <mat-option [value]="genre">{{ genre.name }}</mat-option>
              }
            }
            @case ('Artist') {
              @for (artist of allArtists; track $index) {
                <mat-option [value]="artist">{{ artist.name }}</mat-option>
              }
            }
          }
        </mat-select>
      </mat-form-field>
      <button color="primary" mat-raised-button>Create Post</button>
    </form>
  </mat-card-content>
</div>
