@if (postUser.id !== user.id) {
<div id="pbContainer">
  <div class="tooltip-container" (click)="followed ? deFollow(postUser) : follow(postUser)">
    <span class="tooltip">{{ postUser.followers ? postUser.followers.length + ' Follower' : 0 + ' Follower' }}</span>
    <span class="text">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 95 114"
      class="svgIcon"
    >
      <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
      <path
        fill="black"
        d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"
      ></path>
    </svg>{{ followed ? 'Unfollow ' + postUser.username : 'Follow ' + postUser.username }}</span
    >
  </div>
 </div>
} @else {
  <div id="box4">
    <p id="text">{{ user.followers ? user.followers.length : 0 }} {{ 'HOME.FOLLOWERS' | translate }}  </p>
  </div>
}
<div class="posts-container">
  @if (posts.length === 0) {
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <mat-card-title>{{ 'POSTS_CONTAINER.QUIET_HERE.TITLE' | translate }}</mat-card-title>
          <p>{{ 'POSTS_CONTAINER.QUIET_HERE.MESSAGE' | translate }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  }
  @for (post of posts; track $index) {
    @if (posts.length !== 0) {
    <div class="post-card">
      @if (post.image) {
        <img (click)="navigateToPost(post.id)" [src]="post.image" alt="{{post.title}}" class="post-image">
      } @else {
        <img src="https://i.kym-cdn.com/entries/icons/original/000/039/761/nerdfacecover.jpg" alt="Placeholder Image"
             class="post-image">
      }
      <div class="post-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.user.followers ? post.user.followers.length : 0 }} {{ 'HOME.FOLLOWERS' | translate }}  </p>
        <p>{{ post.content }}</p>
        <div class="post-meta">
          <span>{{ 'POSTS_CONTAINER.POST_CARD.META.BY_USER' | translate }} {{ post.user.username }}</span>
          <span>{{ 'POSTS_CONTAINER.POST_CARD.META.LIKES' | translate }}: {{ post.likes.length }}
            | {{ 'POSTS_CONTAINER.POST_CARD.META.DISLIKES' | translate }}: {{ post.dislikes.length }}</span>
        </div>
        @if ((post.genre || post.artist || post.song) && post.id) {
          <div class="post-meta">
            @if (post.genre) {
              <span>{{ 'POSTS_CONTAINER.POST_CARD.META.GENRE' | translate }}: {{ post.genre.name }}</span>
            }
            @if (post.artist) {
              <span>{{ 'POSTS_CONTAINER.POST_CARD.META.ARTIST' | translate }}: {{ post.artist.name }}</span>
            }
            @if (post.song) {
              <span>{{ 'POSTS_CONTAINER.POST_CARD.META.SONG' | translate }}: {{ post.song.title }}</span>
            }
            @if (localUserId === userId) {
              <span class="actions-container">
                <mat-icon (click)="deletePost(post)">delete</mat-icon>
                <mat-icon [routerLink]="['/home/editPost', post.id]">edit</mat-icon>
              </span>
            }
          </div>
        }
      </div>
    </div>
    } @else {
      <p>{{ 'POSTS_CONTAINER.NO_POSTS' | translate }}</p>
    }
  }
</div>
