.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-image:hover {
  cursor: pointer;
}

.post-content {
  padding: 15px;
}

.post-content h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.post-content p {
  font-size: 1em;
  color: #333;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

.post-tags {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

.post-tags span {
  display: block;
}

.actions-container {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

mat-icon {
  cursor: pointer;
}
/* From Uiverse.io by vinodjangid07 */
.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  padding: 11px 18px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid rgb(211, 211, 211);
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

#box4 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#text {
  padding-top: 10px;
  font-size: 2em;
}
.svgIcon {
  width: 16px;
  height: auto;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  color: rgb(34, 34, 34);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: rgb(255, 255, 255);
}

.tooltip-container:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#pbContainer {
  width: 100%;
  padding-top: 15px;
}
