<app-head-nav-bar></app-head-nav-bar>
@if (post) {
  <div class="post-container">
    @if (post.image) {
      <img [src]="post.image" alt="{{post.title}}" class="post-image">
    } @else {
      <img src="https://media.istockphoto.com/id/586383746/photo/beautiful-young-businesswoman-with-crossed-hands-showing-stop-gesture.jpg?s=612x612&w=0&k=20&c=tlRdUPet3y_5fP2cp7V9393uj4KMSpe7TQ2IgBazWOA=" alt="Placeholder Image" class="post-image">
    }
    <div class="post-content">
      <h1>{{ post.title }}</h1>
      <p>{{ post.content }}</p>
      <div class="post-meta">
        <span>By {{ post.user.username }}</span>
        <span>Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}</span>
      </div>
      @if (post.genre || post.artist || post.song) {
        <div class="post-tags">
          @if (post.genre) {
          <span>Genre: {{ post.genre.name }}</span>
          }
          @if (post.artist) {
            <span>Artist: {{ post.artist.name }}</span>
          }
            @if (post.song) {
              <span>Song: {{ post.song.title }}</span>
            }
        </div>
      }
    </div>
  </div>
}
